.Title {
  color: rgb(250, 0, 0);
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: bold;
  margin: 0;
}

.display-4 {
  margin-bottom: 20px;
}

.dropdown-toggle.dropdown-toggle.btn.btn-primary {
  border: 1px solid #ced4da;
  background-color: transparent;
  color: #495057;
  width: 100%;
  text-align: left;
}

/* .dropdown-toggle.dropdown-toggle.btn.btn-primary.dropdown-toggle::after {
  text-align: right !important;
} */

.feed-form-header,
.profile-form-header {
  color: #0076a5;
  margin-top: 10px;
  margin-bottom: 17px;
}

.display-4.about {
  text-decoration: underline;
  text-decoration-color: #ab0c2f;
}

.display-4 {
  text-decoration: underline;
  text-decoration-color: #ab0c2f;
}

.container.homepage {
  text-align: left;
}
.bg-cover {
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 660px;
}

.header {
  text-align: center;
}

.App {
  text-align: left;
  justify-content: left;
  padding: 20px;
}
.form-control {
  margin-bottom: 20px;
}
ul {
  list-style: none;
}
.card.profiles {
  margin-bottom: 30px;
  cursor: pointer;
}

a.nav-link {
  color: #ab0c2f;
  font-weight: 700;
  text-transform: uppercase;
}

a.nav-link:hover,
a.nav-link:active {
  text-decoration: underline;
}

#inlineFormInput {
  margin-left: 20px;
}

.btn.btn-add {
  margin-bottom: 21px;
  font-size: 1.3em;
  outline: none;
}

.btn.btn-outline-danger {
  margin-bottom: 20px;
}

.status-date {
  font-style: italic;
}

.card-text.profile-text {
  line-height: 1.3em;
}

.card.about-info {
  margin-top: 15px;
  padding-left: 10px;
}
.card.about {
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
}

.about-bio {
  line-height: 1.3em;
  padding-top: 10px;
}

.card.feedform {
  padding: 20px 40px 0 40px;
  margin-bottom: 25px;
}
